/* reset css */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap');
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    font: 1.6rem 'Montserrat', sans-serif;
    margin: 0;
}
h1,h2,h3,h4,h5,h6,p,figure,ul,ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    color: #222;
    text-decoration: none;
}
*{
    box-sizing: border-box;
}
button{
    padding: 0;
    border: 0;
    background-color: transparent;
}

img{
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
}
/* theme css */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to bottom right, #f2f2f2, #dcdcdc);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  main {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    max-width: 400px;
    width: 100%;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  #options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  button {
    background-color: #4caf50;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
  }
  #controls #restart{
    margin-top: 1rem;
  }
  #controls button {
   background-color: #222;
   margin-bottom: 1.5rem;
   width: 60%;

  }
  
  button:hover {
    background-color: #45a049;
  }
  
  p {
    font-size: 18px;
  }
  
  /* Animation */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes scaleIn {
    from {
      transform: scale(0.8);
    }
    to {
      transform: scale(1);
    }
  }
  
  /* Animation pour la carte */
  main {
    animation: fadeIn 0.5s ease, scaleIn 0.5s ease;
  }
  
  /* Animation pour les options */
  #options button {
    opacity: 0;
    animation: fadeIn 0.5s ease forwards;
  }
  
  
  
  #options button:nth-child(2) {
    animation-delay: 0.1s;
  }
  
  #options button:nth-child(3) {
    animation-delay: 0.2s;
  }

  #options button:nth-child(4) {
    animation-delay: 0.3s;
  }

  #options button:nth-child(5) {
    animation-delay: 0.4s;
  }
  
  /* Animation pour le résultat */
  p {
    opacity: 0;
    animation: fadeIn 0.5s ease forwards;
    animation-delay: 0.5s;
  }



  